filesystem-manager/filesystem-manager.dtd

<!ELEMENT commands (package*)>
<!ATTLIST commands
    version NMTOKEN "1.5"
    xmlns CDATA #FIXED "https://github.com/zaufi/paludis-hooks/#filesystem-management-hook"
    xmlns:smh CDATA #FIXED "https://github.com/zaufi/paludis-hooks/#filesystem-management-hook"
  >

<!ELEMENT package (symlink|rm)+>
<!ATTLIST package
    id ID #REQUIRED
  >

<!ELEMENT symlink (EMPTY)>
<!ATTLIST symlink
    src CDATA #REQUIRED
    dst CDATA #REQUIRED
  >

<!ELEMENT rm (EMPTY)>
<!ATTLIST rm
    dst CDATA #REQUIRED
  >
