filesystem-manager/filesystem-manager.dtd

<!ELEMENT commands (package*)>
<!ATTLIST commands
    version NMTOKEN "1.5"
    xmlns CDATA #FIXED "https://github.com/zaufi/paludis-hooks/#filesystem-management-hook"
    xmlns:smh CDATA #FIXED "https://github.com/zaufi/paludis-hooks/#filesystem-management-hook"
  >

<!ELEMENT package (symlink|rm)+>
<!ATTLIST package
    descr ID #IMPLIED
    spec CDATA #REQUIRED
    stop (true|false) "false"
  >

<!ELEMENT symlink EMPTY>
<!ATTLIST symlink
    cd CDATA #REQUIRED
    src CDATA #REQUIRED
    dst CDATA #REQUIRED
  >

<!ELEMENT rm (item*)>
<!ATTLIST rm
    cd CDATA #REQUIRED
    dst CDATA #IMPLIED
  >

<!ELEMENT item EMPTY>
<!ATTLIST item
    dst CDATA #REQUIRED
  >
